@import url("https://fonts.googleapis.com/css?family=Tomorrow&display=swap");

html {
  direction: rtl;
  font-family: Merriweather, "Noto Sans Hebrew", "Roboto", serif;
  moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
}

h1 {}

:root {
  --brand: #ea3e78;
  --green-1: #00b494;
  --yellow-1: #f0bc1d;
}

.theme-dark {
  --bg-primary: #222831;
  --bg-primary-2: #262d36;
  --bg-card: #191c23;
  --bg-card-2: #282e39;
  --bg-card-3: #3a4252;
  --bg-3: #58595a;
  --text-primary: white;
  --text-secondary: #cbd5e0;
  --text-3: #cbd5e0;
  --gray-1: #9fb0ca;
}

.theme-light {
  --bg-primary: white;
  --bg-primary-2: rgb(222, 218, 238);
  --bg-card: #edf2f7;
  --bg-card-2: #d8dde4;
  --bg-card-3: #b5c1d1;
  --bg-3: #d8dde4;
  --text-primary: black;
  --text-secondary: #2d3748;
  --text-3: #4a5568;
  --gray-1: #242a33;
}
