html {
  direction: rtl;
  font-family: "Noto Sans Hebrew", "Roboto", sans-serif;
}

h1 {
}

:root {
  --green-1: #00b494;
  --yellow-1: #f0bc1d;
}

.theme-dark {
  --bg-primary: #222831;
  --bg-card: #191c23;
  --bg-header: #15191e;
}

.theme-light {
  --bg-primary: white;
  --bg-card: gray;
}
